# setup

In [1]:
import os

if os.getcwd().split('/')[-1] == 'notebooks':
    os.chdir('..')

In [2]:
import numpy as np
import h5py
import pandas as pd
import pickle

from tqdm import tqdm

In [3]:
from data_loader.util import slide_and_cut_beat_aligned

In [4]:
from scipy import signal

def just_resample(data, sample_Fs = 400, resample_Fs = 500):
    sample_len = data.shape[1]
    resample_len = int(sample_len * (resample_Fs / sample_Fs))
    resample_data = signal.resample(data, resample_len, axis=1, window=None)

    return resample_data

# read

In [5]:
code15 = h5py.File('/home/josegfer/datasets/code/output/code15.h5', 'r')
code15['tracings'], code15['exam_id']

(<HDF5 dataset "tracings": shape (345797, 4096, 12), type "<f4">,
 <HDF5 dataset "exam_id": shape (345797,), type "<i8">)

In [6]:
metadata = pd.read_csv('/home/josegfer/datasets/code/data/exams.csv')
label_columns = ['1dAVb', 'RBBB', 'LBBB', 'SB', 'ST', 'AF']
metadata

,exam_id,age,is_male,nn_predicted_age,1dAVb,RBBB,LBBB,SB,ST,AF,patient_id,death,timey,normal_ecg,trace_file
0,1169160,38,True,40.160484,False,False,False,False,False,False,523632,False,2.098628,True,exams_part13.hdf5
1,2873686,73,True,67.059440,False,False,False,False,False,False,1724173,False,6.657529,False,exams_part13.hdf5
2,168405,67,True,79.621740,False,False,False,False,False,True,51421,False,4.282188,False,exams_part13.hdf5
3,271011,41,True,69.750260,False,False,False,False,False,False,1737282,False,4.038353,True,exams_part13.hdf5
4,384368,73,True,78.873460,False,False,False,False,False,False,331652,False,3.786298,False,exams_part13.hdf5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345774,1123951,33,True,35.893005,False,False,False,False,False,False,770553,False,2.189039,True,exams_part2.hdf5
345775,954704,73,False,68.169136,False,False,False,False,False,False,1044781,False,2.520546,False,exams_part2.hdf5
345776,589697,75,False,78.080810,False,False,False,False,False,False,1020589,False,3.304107,False,exams_part2.hdf5
345777,2780563,44,False,73.120636,False,False,False,False,False,False,178,False,7.339720,False,exams_part2.hdf5
345778,1576698,27,False,31.939650,False,False,False,False,False,False,1597868,False,1.298629,False,exams_part2.hdf5

In [7]:
with open('data/remove_id', 'rb') as fp:
    remove = pickle.load(fp)
len(remove), remove

(1677,
 [1571227,
  139970,
  1420381,
  137793,
  774079,
  665629,
  3139585,
  957074,
  956212,
  1255590,
  3064998,
  712255,
  3066387,
  2945735,
  1104277,
  911536,
  1024570,
  158087,
  526680,
  650732,
  3068746,
  1174091,
  1614004,
  274029,
  3028402,
  490520,
  776733,
  3628183,
  412505,
  2842957,
  1588966,
  1141497,
  1524922,
  1382026,
  2904898,
  1434717,
  1578599,
  1668407,
  407959,
  333677,
  1355703,
  1236298,
  2858070,
  1367672,
  4415239,
  2980705,
  2851729,
  2663590,
  645777,
  296441,
  1197076,
  1295955,
  94078,
  775190,
  1230958,
  921078,
  739322,
  3213164,
  1289725,
  1471630,
  4244783,
  596099,
  3156116,
  1428647,
  725206,
  1290443,
  940003,
  644376,
  969433,
  763678,
  4411125,
  2938128,
  2742846,
  234435,
  1032192,
  2760887,
  855104,
  389984,
  945491,
  1319342,
  2744641,
  188075,
  53197,
  3211347,
  2857247,
  130315,
  776873,
  4235283,
  1648108,
  590389,
  0,
  116904,
  2521296,
  3092259,
  3411696,
  1424702,
  512225,
  4393839,
  1339621,
  1227639,
  2894809,
  472995,
  2748253,
  1051638,
  2863904,
  3103528,
  247467,
  2820671,
  4212194,
  1438802,
  2655064,
  728424,
  1586305,
  604295,
  934125,
  1141698,
  1530015,
  1162127,
  3056084,
  1634225,
  1185005,
  3196665,
  2834984,
  594038,
  969430,
  72762,
  1670310,
  1122272,
  579717,
  306988,
  1658133,
  3116105,
  3628388,
  1137575,
  1485763,
  383880,
  1173126,
  430478,
  1615446,
  1639899,
  301204,
  1042876,
  594340,
  965634,
  1352037,
  2871048,
  841128,
  658567,
  3010942,
  600792,
  810081,
  505892,
  399387,
  3223207,
  739203,
  2764787,
  23567,
  209640,
  3069842,
  77676,
  1599590,
  3187066,
  910388,
  1598848,
  1246937,
  3152311,
  353012,
  1259817,
  3182578,
  3145639,
  1466358,
  2970581,
  2946383,
  677813,
  4241007,
  1376318,
  1537436,
  1428692,
  1324473,
  1406172,
  639304,
  875425,
  998097,
  976250,
  1077467,
  24592,
  1026433,
  2861807,
  3090849,
  477916,
  656926,
  268899,
  3084137,
  219924,
  1633608,
  532212,
  3147847,
  1501062,
  2958593,
  2836971,
  269333,
  4392166,
  1598495,
  2909895,
  0,
  1604482,
  201836,
  856162,
  1494687,
  506398,
  1576410,
  102220,
  810621,
  1370306,
  1291953,
  3088928,
  3207609,
  665797,
  734380,
  651304,
  1540979,
  676061,
  32512,
  1648601,
  1097977,
  3045600,
  3208549,
  3228536,
  1520987,
  2675379,
  524416,
  1498780,
  2873406,
  159022,
  714867,
  708286,
  3214461,
  209641,
  942305,
  960476,
  194800,
  1526966,
  1380482,
  1182450,
  1487124,
  932755,
  529480,
  1263324,
  1064490,
  448905,
  2873492,
  1282674,
  1485865,
  3003029,
  730761,
  4251987,
  3166883,
  1650511,
  1651426,
  2725730,
  589997,
  766282,
  1077379,
  2876421,
  942269,
  975226,
  1056406,
  3399324,
  621327,
  126483,
  288459,
  1126583,
  17580,
  1494008,
  589764,
  122679,
  981443,
  4208217,
  173257,
  410266,
  576947,
  3395530,
  1487122,
  1243110,
  3226438,
  795405,
  3228496,
  974797,
  1191468,
  3092640,
  526525,
  2925714,
  3030411,
  2956314,
  4406001,
  892048,
  1295993,
  706235,
  16282,
  36241,
  1114498,
  1201032,
  222765,
  777591,
  1645668,
  1634129,
  691413,
  3406305,
  1151812,
  459728,
  1638308,
  1484604,
  2954482,
  0,
  1614631,
  518886,
  3021295,
  361391,
  430247,
  1052436,
  1464466,
  610877,
  1004237,
  774948,
  1281785,
  878998,
  706347,
  83136,
  1187721,
  2792222,
  975659,
  933983,
  1155874,
  662326,
  1577061,
  167382,
  3402922,
  4205982,
  1455265,
  1230961,
  1410020,
  1171665,
  709343,
  3093306,
  1435101,
  4400203,
  943527,
  2892829,
  2798877,
  217428,
  2654468,
  1368421,
  53163,
  1304248,
  1343514,
  1667928,
  1098263,
  2941784,
  3071209,
  479581,
  3061545,
  830733,
  4408962,
  1254728,
  3151107,
  3045543,
  676667,
  703597,
  984436,
  668294,
  274993,
  557474,
  785333,
  1507108,
  699,
  189367,
  538267,
  557496,
  533900,
  969397,
  1605956,
  1015802,
  864394,
  1171548,
  3199805,
  4213961,
  1543522,
  3795003,
  982575,
  1583864,
  4271441,
  597224,
  969475,
  1021089,
  824877,
  3133756,
  1627032,
  2852913,
  130602,
  0,
  827461,
  210247,
  581080,
  394808,
  349888,
  660405,
  4265291,
  1595035,
  785338,
  1466857,
  2685228,
  1649889,
  4267823,
  2908662,
  35328,
  3160487,
  152448,
  1027242,
  3407259,
  1454563,
  235328,
  3129589,
  965630,
  766561,
  2821847,
  460595,
  4237023,
  1415279,
  644922,
  1004892,
  345741,
  2829673,
  253252,
  1060970,
  694922,
  926381,
  627854,
  275314,
  3197226,
  68728,
  1047867,
  1649814,
  1065116,
  904059,
  2967131,
  1335596,
  3103435,
  1402391,
  277430,
  2941100,
  1530097,
  842755,
  1650666,
  1187724,
  1187726,
  1549512,
  407920,
  2662771,
  22448,
  2752126,
  3211311,
  130638,
  2846482,
  2741447,
  687570,
  336051,
  3069975,
  244400,
  1547972,
  1005727,
  1363434,
  492125,
  1004473,
  2871451,
  711838,
  2829166,
  3784267,
  0,
  1480115,
  1424618,
  351857,
  1114585,
  8855,
  343456,
  258434,
  990548,
  757034,
  279212,
  949466,
  977489,
  1053695,
  225116,
  983938,
  693788,
  1058682,
  836146,
  1061705,
  1582782,
  4389515,
  1323523,
  201325,
  880619,
  157784,
  961717,
  3125061,
  4198679,
  4401534,
  385228,
  1065769,
  3116198,
  1624984,
  3085339,
  2673858,
  634876,
  357847,
  1311714,
  901766,
  2788426,
  106407,
  801109,
  721975,
  437566,
  1198227,
  1399620,
  1229959,
  892533,
  1089210,
  327393,
  270240,
  924197,
  504351,
  1630035,
  169954,
  969685,
  251905,
  1023545,
  1331023,
  2942933,
  1056944,
  422776,
  1282355,
  1240946,
  1335808,
  969413,
  2914494,
  948884,
  2668835,
  1501911,
  3133057,
  1455256,
  2909242,
  969416,
  3063014,
  1032169,
  1136200,
  2936649,
  456047,
  2850618,
  31011,
  2833784,
  1170538,
  743218,
  4246550,
  1416027,
  563209,
  1564521,
  140877,
  1389948,
  204948,
  3175988,
  2537411,
  1104539,
  1555504,
  1597163,
  0,
  2852724,
  1000385,
  4235732,
  1209424,
  984748,
  2783204,
  36236,
  1195933,
  2731689,
  4195686,
  1728059,
  1584711,
  247291,
  861153,
  2769168,
  694896,
  4255129,
  4247306,
  200398,
  33033,
  3198481,
  2828514,
  2752052,
  3038790,
  203758,
  3785865,
  2824637,
  937291,
  572696,
  574093,
  310275,
  605007,
  2745945,
  34734,
  1102940,
  3184586,
  1091948,
  590487,
  2930461,
  2985893,
  252813,
  832071,
  338847,
  229958,
  2829209,
  2914101,
  617283,
  1114918,
  569982,
  30952,
  75567,
  1179634,
  885529,
  1650435,
  1024602,
  1171324,
  419443,
  472239,
  1244945,
  1276260,
  4238248,
  581069,
  1368183,
  2748413,
  3136650,
  1195135,
  2741488,
  88144,
  2876548,
  1483559,
  288279,
  1386899,
  1253729,
  1274873,
  533909,
  451559,
  824501,
  183433,
  2506838,
  189165,
  554827,
  181162,
  524386,
  3120471,
  2858071,
  679519,
  1389828,
  793326,
  525971,
  1063156,
  4258863,
  119573,
  1581299,
  2540184,
  0,
  1137581,
  4274967,
  2966038,
  4216270,
  864543,
  1362600,
  1441593,
  2857243,
  2766193,
  1606425,
  2942653,
  612958,
  244470,
  16886,
  3130974,
  30478,
  1329731,
  4237108,
  1424750,
  444387,
  3130174,
  1117012,
  133670,
  520704,
  77634,
  1177321,
  2820672,
  1579716,
  211067,
  2821845,
  899549,
  47805,
  676656,
  1638037,
  44557,
  1640605,
  3213905,
  250562,
  1064494,
  4237107,
  1183095,
  836765,
  1026409,
  1389912,
  2945739,
  3098309,
  2980704,
  3166236,
  628990,
  3797775,
  407607,
  610897,
  1130800,
  1402739,
  1556763,
  1592659,
  1297493,
  849803,
  144510,
  1011288,
  1148834,
  1393863,
  969468,
  329199,
  1091967,
  3414578,
  695488,
  4271895,
  937287,
  4389513,
  52051,
  1254450,
  1569269,
  4402285,
  1184431,
  349868,
  167500,
  534805,
  527152,
  656929,
  102019,
  1349721,
  2516437,
  94572,
  724446,
  3096934,
  105814,
  869757,
  647503,
  2989893,
  781856,
  1282694,
  0,
  1066583,
  1084016,
  1530834,
  1550497,
  180436,
  3795770,
  383685,
  2764743,
  1160713,
  699779,
  774610,
  1165739,
  1548484,
  1235205,
  3159502,
  2817478,
  3396001,
  1483350,
  2788300,
  97786,
  2908396,
  1290130,
  2778800,
  236241,
  1436132,
  1096279,
  216112,
  4414126,
  1252149,
  408954,
  2728838,
  1283383,
  633809,
  229619,
  1094712,
  2736497,
  1405296,
  2889532,
  290891,
  419906,
  1597564,
  229793,
  332035,
  969460,
  4394369,
  110590,
  189948,
  274215,
  1453170,
  1607008,
  3048264,
  1138968,
  226176,
  1674510,
  458590,
  1281786,
  1169753,
  938195,
  2755613,
  1281806,
  3071214,
  1638822,
  2781874,
  982819,
  1090789,
  1137580,
  3130177,
  869954,
  270127,
  1625288,
  2928626,
  3626273,
  2821828,
  152453,
  622270,
  3033991,
  2762489,
  1302636,
  77253,
  721972,
  36237,
  284940,
  1452312,
  1136210,
  18723,
  951743,
  923697,
  2998065,
  1171832,
  195412,
  940290,
  2724481,
  1524464,
  2764117,
  3034818,
  3045560,
  1108322,
  2539366,
  1649811,
  247646,
  588332,
  871121,
  449563,
  0,
  1227643,
  414976,
  1478743,
  1529899,
  1223406,
  1059504,
  941543,
  1393856,
  3099330,
  926376,
  2739160,
  2916591,
  1045933,
  1981544,
  3394106,
  3794341,
  3216809,
  604482,
  619882,
  604120,
  1279810,
  857450,
  1145113,
  2858069,
  1311799,
  1385087,
  864226,
  3168970,
  1475784,
  1161607,
  227722,
  4238113,
  285846,
  979507,
  313117,
  197305,
  1086590,
  958410,
  1623651,
  2970409,
  1137578,
  198253,
  1201044,
  1237098,
  1092981,
  1463535,
  500104,
  1298361,
  773635,
  2666233,
  969457,
  457852,
  1086200,
  244294,
  29601,
  3189525,
  2520149,
  1571009,
  11441,
  3798602,
  3008755,
  1262195,
  3167230,
  765349,
  10740,
  1369415,
  539743,
  2876391,
  509735,
  1234413,
  579415,
  3091374,
  191400,
  2944,
  3059333,
  157238,
  2776313,
  625679,
  1278514,
  941605,
  207914,
  185273,
  1060737,
  599306,
  2865254,
  4264127,
  432059,
  2975306,
  1193711,
  879880,
  2748249,
  184550,
  1330806,
  3618639,
  2898808,
  596036,
  1145154,
  1062944,
  532141,
  0,
  2837657,
  260063,
  1058604,
  2838831,
  1218621,
  285230,
  233976,
  291785,
  1349381,
  926006,
  876323,
  349869,
  2909857,
  2793939,
  107990,
  795172,
  194025,
  589929,
  1354402,
  1395165,
  573268,
  3168482,
  633532,
  2920680,
  1633813,
  357768,
  72367,
  3092413,
  1445814,
  1613301,
  2981561,
  924008,
  3110567,
  ...])

In [8]:
metadata_clean = metadata.copy()
for exam_id in tqdm(remove):
    metadata_clean = metadata_clean.drop(index = metadata_clean[metadata_clean['exam_id'] == exam_id].index)

100%|██████████| 1677/1677 [00:33<00:00, 50.18it/s]

In [9]:
indices, h5_indices, csv_indices = np.intersect1d(code15['exam_id'], metadata_clean['exam_id'], assume_unique = True, return_indices = True)
indices, h5_indices, csv_indices

(array([      0,       0,       0, ..., 4416606, 4416611, 4416614]),
 array([ 20000,  40001,  60002, ..., 296146,  64497,  97636]),
 array([-305796, -285795, -265794, ...,  161929,  340164,   95447]))

In [10]:
output = []
for idx, row in tqdm(metadata_clean.iterrows()):
    exam_id = row['exam_id']
    h5_idx = h5_indices[indices == exam_id]
    output.append(h5_idx[0])
metadata_clean.insert(len(metadata_clean.columns), 'h5_idx', output)
metadata_clean = metadata_clean.reset_index(drop = True)

344120it [00:56, 6114.37it/s]

In [11]:
metadata_clean

,exam_id,age,is_male,nn_predicted_age,1dAVb,RBBB,LBBB,SB,ST,AF,patient_id,death,timey,normal_ecg,trace_file,h5_idx
0,1169160,38,True,40.160484,False,False,False,False,False,False,523632,False,2.098628,True,exams_part13.hdf5,270517
1,2873686,73,True,67.059440,False,False,False,False,False,False,1724173,False,6.657529,False,exams_part13.hdf5,270518
2,168405,67,True,79.621740,False,False,False,False,False,True,51421,False,4.282188,False,exams_part13.hdf5,270519
3,271011,41,True,69.750260,False,False,False,False,False,False,1737282,False,4.038353,True,exams_part13.hdf5,270520
4,384368,73,True,78.873460,False,False,False,False,False,False,331652,False,3.786298,False,exams_part13.hdf5,270521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344115,1123951,33,True,35.893005,False,False,False,False,False,False,770553,False,2.189039,True,exams_part2.hdf5,53847
344116,954704,73,False,68.169136,False,False,False,False,False,False,1044781,False,2.520546,False,exams_part2.hdf5,53848
344117,589697,75,False,78.080810,False,False,False,False,False,False,1020589,False,3.304107,False,exams_part2.hdf5,53849
344118,2780563,44,False,73.120636,False,False,False,False,False,False,178,False,7.339720,False,exams_part2.hdf5,53850
344119,1576698,27,False,31.939650,False,False,False,False,False,False,1597868,False,1.298629,False,exams_part2.hdf5,53851

# loop

In [12]:
# num_files = code15['tracings'].shape[0]
num_files = len(metadata_clean)
n_lead = 12
n_segment = 10
beat_length = 400
n_classes = 6

In [13]:
h5f = h5py.File('data/code15bat.h5', 'w')

# x = h5f.create_dataset('recording', (num_files - len(remove), n_lead, n_segment, beat_length), dtype = code15['tracings'].dtype)
# r = h5f.create_dataset('ratio', (num_files - len(remove), 1, n_segment), dtype='f8')
# y = h5f.create_dataset('label', (num_files - len(remove), n_classes), dtype='bool')
# # w = h5f.create_dataset('weight', (num_files, n_classes), dtype='f8')
# id = h5f.create_dataset('exam_id', shape = (num_files - len(remove),), dtype = code15['exam_id'].dtype)
x = h5f.create_dataset('recording', (num_files, n_lead, n_segment, beat_length), dtype = code15['tracings'].dtype)
r = h5f.create_dataset('ratio', (num_files, 1, n_segment), dtype = 'f8')
y = h5f.create_dataset('label', (num_files, n_classes), dtype = 'bool')
id = h5f.create_dataset('exam_id', shape = (num_files, ), dtype = code15['exam_id'].dtype)

In [14]:
# ii = 0
# for i in tqdm(range(num_files)):
#     if i in remove:
#         continue
#     recording = code15['tracings'][i].T
#     exam_id = code15['exam_id'][i]

#     # resample
#     recording = just_resample(recording, sample_Fs = 400, resample_Fs = 500)

#     csv_idx = csv_indices[indices == exam_id]
#     assert exam_id == metadata['exam_id'].loc[csv_idx].values[0]
#     onehot = metadata[label_columns].loc[csv_idx].values

#     # slide and cut
#     scbeat, info2save = slide_and_cut_beat_aligned(recording, n_segment = 1, window_size = 5000, sampling_rate = 500, 
#                                                    seg_with_r = False, beat_length = 400)
#     x[ii, :, :, :] = np.transpose(scbeat, (0, 2, 1, 3))
#     r[ii, :, :] = info2save
#     y[ii, :] = onehot
#     id[ii] = exam_id
#     ii += 1

In [15]:
for idx, row in tqdm(metadata_clean.iterrows()):
    h5_idx = row['h5_idx']
    recording = code15['tracings'][h5_idx].T
    onehot = row[label_columns].to_numpy(dtype = 'bool')
    exam_id = code15['exam_id'][h5_idx]
    assert exam_id == row['exam_id']

    # resample
    recording = just_resample(recording, sample_Fs = 400, resample_Fs = 500)
    # slide and cut
    scbeat, info2save = slide_and_cut_beat_aligned(recording, n_segment = 1, window_size = 5000, sampling_rate = 500, 
                                                   seg_with_r = False, beat_length = 400)
    
    x[idx, :, :, :] = np.transpose(scbeat, (0, 2, 1, 3))
    r[idx, :, :] = info2save
    y[idx, :] = onehot
    id[idx] = exam_id

344120it [2:05:37, 45.66it/s]

In [16]:
code15.close()
h5f.close()